/*Custom CSS*/

/* Header Navigation */
/* Double header custom code from Podio resource "Multiple nav headers in BS"*/

body {
  margin-top: 50px;

}

.divide-nav {
  height: 50px;
  background-color: #428bca;
}

.divide-text {
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}


.filler {
  min-height: 2000px;
}

.navbar-form {
   padding-left: 0px;
}

.navbar-collapse {
   padding-left:0; 
}
/*second navbar custom width*/
.navbar-outer {
  padding-top: 0px;//pushes "all Services" down do its not behind top navbar photo down behind nav
  width: 200px; //162px for md 120
  height: 200px;
  //z-index: 1;
}

/*navbar-header image*/



/*navbar-brand image*/

.custom-brand-img {
  width: 110px; //was 110px
  height: 110px; //was 110px
  z-index: -1;

}

/** Header Navigation**/


header .navbar-default {
background-color: transparent;
border: none; 
}

header .navbar-default .navbar-nav a {
color: #B2481E;

}

header .navbar-default .navbar-nav a:hover {
color: #DA7120;
}

header .navbar-default .navbar-nav .active a { //for home button
font-weight: 700;
color: #2956A7;
background: blue;
border-bottom: 4px solid #B2481E;
text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: pink;
  background: transparent;
  
}

#button-location-fix {
  
  width: 100px;


}

/** Custom padding on page containers for content**/

.cust-padding-right {
  
  
  padding-right: 40px;  
  padding-left: 0px; /*was 80px and 50; size difference hides carousel behind logo!!! also was 100 and 25 Between 25 and 50?*/
}

.cust-padding-left {
  
  
  padding-right: 15px;
  padding-left: 15px; 
}

.cust-padding-super-right {
  padding-right: 120px;
}


